@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

$White: hsl(0, 0%, 100%);
$Lightgray: hsl(212, 45%, 89%);
$Grayishblue: hsl(220, 15%, 55%);
$Darkblue: hsl(218, 44%, 22%);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;

    @media (max-width: 375px) {
        font-size: 50%;
    }
}

body {
    font-size: 1.6rem;
    font-family: "Outfit", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: $Lightgray;
}

.card {
    width: 28rem;
    height: 42rem;
    background-color: $White;
    border-radius: 1.2rem;
    -webkit-border-radius: 1.2rem;
    -moz-border-radius: 1.2rem;
    -ms-border-radius: 1.2rem;
    -o-border-radius: 1.2rem;

    text-align: center;

    .content {
        margin: 0 0.5rem;
        padding : 0.5rem ;

        h2 {
            font : {
                size: 2rem;
                weight: 700;
            }

            text-wrap: balance;
            color: $Darkblue;
            line-height: 1.5;
        }

        p {
            font : {
                size: 1.5rem;
                weight: 400;
            }

            color: $Grayishblue;

            margin-top: 1rem;
            margin-bottom: 2rem;

        }
    }

    img {
        width: 25rem;
        height: 25rem;
        margin: 1rem auto;

        border-radius: 1.2rem;
        -webkit-border-radius: 1.2rem;
        -moz-border-radius: 1.2rem;
        -ms-border-radius: 1.2rem;
        -o-border-radius: 1.2rem;
    }
}